$bg-color: #FFF9F5;
$text-color: #462B20;
$border-color: #F3EAE5;
$font-serif: 'Instrument Serif', serif;
$font-sans: 'Inter', sans-serif;

.highlights {
  background-color: $bg-color;
  padding: 40px 0 100px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;

    .line {
      height: 1px;
      background-color: $border-color;
      flex: 1;
      max-width: 719px;
    }

    .highlights__tagline {
      font-family: $font-serif;
      font-style: italic;
      font-size: 20px;
      color: $text-color;
      opacity: 0.85;
      white-space: nowrap;
    }
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    z-index: 2;
  }

  .info-block {
    &__title {
      font-family: $font-serif;
      font-size: 58px;
      line-height: 1.05;
      color: $text-color;
      margin-bottom: 32px;
    }

    &__tabs {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      max-width: 732px;

      span {
        font-family: $font-serif;
        font-size: 20px;
        color: $text-color;
        opacity: 0.4;
        position: relative;

        &:not(:last-child)::after {
          content: "";
          display: inline-block;
          width: 1px;
          height: 15px;
          background: $border-color;
          margin-left: 14px;
          vertical-align: middle;
        }

        &.active, &:first-child {
          opacity: 1;
        }
      }
    }

    &__desc {
      font-family: $font-sans;
      font-size: 20px;
      line-height: 1.56;
      color: $text-color;
      opacity: 0.85;
      max-width:724px;
      margin:auto;
    }
  }

  .divider-short {
    width: 160px;
    height: 1px;
    background-color: $border-color;
  }

  .img-float {
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }

  .img-top-left {
    width: 183px; height: 257px;
    left: -150px; top: 50px;
  }

  .img-bottom-left {
    width: 253px; height: 363px;
    left: -50px; bottom: -50px;
  }

  .img-top-right {
    width: 274px; height: 385px;
    right: -150px; top: 50px;
  }

  .img-bottom-right {
    width: 183px; height: 257px;
    right: 0; bottom: 0;
  }
}
@media (max-width: 767px) {
  .highlights {
    padding: 32px 0 60px; 

    &__header {
      margin-bottom: 40px;
      padding: 0 14px;
      gap: 12px;

      .line {
        max-width: 99px; 
      }

      .highlights__tagline {
        font-size: 18px; 
        line-height: 23px;
        color: #693521; 
      }
    }

    &__container {
      padding: 0 14px;
    }

    &__content {
      max-width: 100%;
      gap: 48px; 
    }

    .img-float {
      display: none; 
    }

    .info-block {
      &__title {
        font-size: 31px;
        line-height: 32px;
        margin-bottom: 24px;
      }

      &__tabs {
        gap: 5px; 
        margin-bottom: 16px;
        overflow: hidden; 

        span {
          font-size: 16px;
          line-height: 23px;
          opacity: 0.5;

          &:not(:last-child)::after {
            height: 12px; 
            margin-left: 8px;
          }
        }
      }

      &__desc {
        font-size: 13px; 
        line-height: 21px;
        max-width: 325px; 
        opacity: 0.85;
      }
    }

    .divider-short {
      width: 120px; 
      margin: 0 auto;
    }
  }
}