.feature {
  padding: 80px 0;
  background: #fff;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }

  &__left {
    position: relative;
    background: linear-gradient(180deg, rgba(221,212,197,0) 0%, #8E887E 100%);
    border-radius: 55px;
    overflow: hidden;
    max-height: 852px;
  }

  &__label__text {
    position: relative;
    top: 50px;
    left: 50px;
  }

  &__label {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    opacity: .4;
    color: #1E1E1E;
  }

  &__bike {
    position: relative;
    margin-top: 80px;

    img {
      width: 100%;
      max-width: 687px;
      display: block;
      margin: 190px auto 0;
      height: 687px;
    }
  }

  &__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &__subtitle {
    font-size: 31px;
    font-family: Poppins;
    font-weight: 500;
    color: #fff;
  }

  &__title {
    font-size: 150px;
    font-family: Poppins;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    margin-bottom: 50px;

  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__info {
    background: #F7F7F8;
    border-radius: 20px;
    padding: 48px;
    text-align: center;
    max-height: 371px;
  }

  &__heading {
    font-size: 47px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.2;
  }

  &__stats {
    display: flex;
    align-items: center;
    margin-top: 70px;
  }

  &__stat_loudspeaker {
    margin: auto;
    p {
      font-size: 17px;
      font-family: Poppins;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__stat_bluetooth {
    margin: auto;
    p {
      font-size: 17px;
      font-family: Poppins;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__stat_volume {
    margin: auto;
    p {
      font-size: 17px;
      font-family: Poppins;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__icon_loudspeaker {
    width: 48px;
    height: 48px;
    margin: 0 auto 12px;
  }

  &__icon_bluetooth {
    width: 48px;
    height: 48px;
    margin: 0 auto 12px;
  }

  &__icon_volume {
    width: 48px;
    height: 48px;
    margin: 0 auto 12px;
  }

  &__divider {
    width: 1px;
    height: 80px;
    background: rgba(0,0,0,.11);
    margin: 0 auto;
  }

  &__banner {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    max-height: 454px;

    img {
      width: 100%;
      display: block;
    }
  }
}

.btn-primary {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 30px;
  background: #827C6C;
  color: #fff;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  width: 124px;
  height: 46px;
}

@media (max-width: 375px) {
  .feature {
    padding: 16px 0;

    &__container {
      grid-template-columns: 1fr;
      padding: 0 16px;
      gap: 16px;
    }

    &__left {
      position: relative;
      width: 100%;
      height: 376px;
      border-radius: 20px;
      background: linear-gradient(
        180deg,
        rgba(159, 169, 160, 0) 0%,
        #aeb5aa 100%
      );
    }

    &__label__text {
      position: absolute;
      top: 30px;
      left: 40px;
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
    }

    &__bike {
      margin-top: 0;

      img {
        width: 286px;
        height: auto;
        margin: 96px auto 0;
      }
    }

    &__text {
      position: absolute;
      left: 24px;
      bottom: 32px;
    }

    &__subtitle {
      font-size: 25px;
      line-height: 30px;
      font-family: "Be Vietnam Pro";
      font-weight: 600;
      margin-left: 25px;
    }

    &__title {
      font-size: 80px;
      line-height: 54px;
      font-family: "Be Vietnam Pro";
      font-weight: 600;
      margin-top: 20px;
      margin-left: 5px;
      margin-bottom: 0;
    }

    &__info {
      width: 100%;
      border-radius: 20px;
      padding: 24px 16px;
      background: #f7f7f8;
    }

    &__heading {
      font-size: 22px;
      line-height: 26.4px;
      font-family: "Be Vietnam Pro";
      font-weight: 600;
      text-align: center;
    }

    &__stats {
      flex-direction: column;
      margin-top: 24px;
      gap: 0;
    
    }

    &__stat_loudspeaker {
      display: grid;
      grid-template-columns: 48px 1fr;
      align-items: center;
      gap: 86px;
      padding: 16px 0;
      width:275px;
      height:75px;


      p {
        font-size: 17px;
        line-height: 22.1px;  
        text-align: left;

      }
    }

    &__stat_bluetooth {
      display: grid;
      grid-template-columns: 48px 1fr;
      align-items: center;
      gap: 86px;
      padding: 16px 0;
      width:275px;
      height:75px;


      p {
        font-size: 17px;
        line-height: 22.1px;
        text-align: left;
      }
    }

    &__stat_volume {
      display: grid;
      grid-template-columns: 48px 1fr;
      align-items: center;
      gap: 86px;
      padding: 16px 0;
      width:275px;
      height:75px;

      p {
        font-size: 17px;
        line-height: 22.1px;
        text-align: left;

      }
    }

    &__divider {
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.11);
    }

    &__icon_loudspeaker {
      width: 23px;
      height: 36px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__icon_bluetooth {
      width: 20px;
      height: 36px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__icon_volume {
      width: 43px;
      height: 28px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__banner {
      width: 100%;
      height: 243px;
      border-radius: 20px;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .btn-primary {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 124px;
    height: 46px;
    background: #0f61ff;
    border-radius: 56px;
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    font-weight: 500;
  }
}

