.feature {
  padding: 80px 0;
  background: #fff;
}
.feature__container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}
.feature__left {
  position: relative;
  background: linear-gradient(180deg, rgba(221, 212, 197, 0) 0%, #8E887E 100%);
  border-radius: 55px;
  overflow: hidden;
  max-height: 852px;
  max-width: 782px;
}
.feature__label__text {
  position: relative;
  top: 50px;
  left: 50px;
}
.feature__label {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.4;
  color: #1E1E1E;
}
.feature__bike {
  position: relative;
  margin-top: 80px;
}
.feature__bike img {
  width: 100%;
  max-width: 687px;
  display: block;
  margin: 140px auto 0;
  height: 687px;
}
.feature__text {
  position: absolute;
  bottom: -16px;
  left: 20px;
}
.feature__subtitle {
  font-size: 31px;
  font-family: Poppins;
  font-weight: 500;
  color: #fff;
  margin-left: 9px;
}
.feature__title {
  font-size: 150px;
  font-family: Poppins;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  margin-bottom: 53px;
  letter-spacing: -9px;
}
.feature__right {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.feature__info {
  background: #F7F7F8;
  border-radius: 20px;
  padding: 48px;
  text-align: center;
  max-height: 371px;
}
.feature__heading {
  font-size: 47px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.2;
}
.feature__stats {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.feature__stat_loudspeaker {
  margin: auto;
}
.feature__stat_loudspeaker p {
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 22px;
}
.feature__stat_bluetooth {
  margin: auto;
}
.feature__stat_bluetooth p {
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 22px;
}
.feature__stat_volume {
  margin: auto;
}
.feature__stat_volume p {
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 22px;
}
.feature__icon_loudspeaker {
  width: 48px;
  height: 48px;
  margin: 0 auto 12px;
}
.feature__icon_bluetooth {
  width: 48px;
  height: 48px;
  margin: 0 auto 12px;
}
.feature__icon_volume {
  width: 48px;
  height: 48px;
  margin: 0 auto 12px;
}
.feature__divider {
  width: 1px;
  height: 80px;
  background: rgba(0, 0, 0, 0.11);
  margin: 0 auto;
}
.feature__banner {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-height: 454px;
}
.feature__banner img {
  width: 100%;
  display: block;
}

.btn-primary {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 30px;
  background: #827C6C;
  color: #fff;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  width: 124px;
  height: 46px;
}

@media (max-width: 375px) {
  .feature {
    padding: 16px 0;
  }
  .feature__container {
    grid-template-columns: 1fr;
    padding: 0 16px;
    gap: 16px;
  }
  .feature__left {
    position: relative;
    width: 100%;
    height: 376px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(159, 169, 160, 0) 0%, #aeb5aa 100%);
  }
  .feature__label__text {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .feature__label {
    font-size: 14px;
    line-height: 20px;
  }
  .feature__bike {
    margin-top: 0;
  }
  .feature__bike img {
    width: 286.61188px;
    height: auto;
    margin: 113px auto 0;
  }
  .feature__text {
    position: absolute;
    left: 20px;
    bottom: 47px;
  }
  .feature__subtitle {
    font-size: 25px;
    line-height: 30px;
    font-family: "Be Vietnam Pro";
    font-weight: 600;
    margin-left: 15px;
  }
  .feature__title {
    font-size: 80px;
    line-height: 54px;
    font-family: "Be Vietnam Pro";
    font-weight: 600;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 0;
    letter-spacing: -4px;
  }
  .feature__info {
    width: 100%;
    border-radius: 20px;
    padding: 24px 16px;
    background: #f7f7f8;
  }
  .feature__heading {
    font-size: 22px;
    line-height: 26.4px;
    font-family: "Be Vietnam Pro";
    font-weight: 600;
    text-align: center;
  }
  .feature__stats {
    flex-direction: column;
    margin-top: 24px;
    gap: 0;
  }
  .feature__stat_loudspeaker {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 86px;
    padding: 16px 0;
    width: 275px;
    height: 75px;
  }
  .feature__stat_loudspeaker p {
    font-size: 17px;
    line-height: 22.1px;
    text-align: left;
  }
  .feature__stat_bluetooth {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 86px;
    padding: 16px 0;
    width: 275px;
    height: 75px;
  }
  .feature__stat_bluetooth p {
    font-size: 17px;
    line-height: 22.1px;
    text-align: left;
  }
  .feature__stat_volume {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 86px;
    padding: 16px 0;
    width: 275px;
    height: 75px;
  }
  .feature__stat_volume p {
    font-size: 17px;
    line-height: 22.1px;
    text-align: left;
  }
  .feature__divider {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.11);
  }
  .feature__icon_loudspeaker {
    width: 23px;
    height: 36px;
  }
  .feature__icon_loudspeaker img {
    width: 100%;
    height: auto;
  }
  .feature__icon_bluetooth {
    width: 20px;
    height: 36px;
  }
  .feature__icon_bluetooth img {
    width: 100%;
    height: auto;
  }
  .feature__icon_volume {
    width: 43px;
    height: 28px;
  }
  .feature__icon_volume img {
    width: 100%;
    height: auto;
  }
  .feature__banner {
    width: 100%;
    height: 243px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .feature__banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .btn-primary {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 124px;
    height: 46px;
    background: #0f61ff;
    border-radius: 56px;
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 1440px) and (min-width: 1200px) {
  .feature {
    padding: 64px 0;
  }
  .feature__container {
    max-width: 1200px;
    gap: 24px;
  }
  .feature__left {
    border-radius: 40px;
  }
  .feature__bike img {
    max-width: 600px;
    height: auto;
    margin-top: 120px;
  }
  .feature__title {
    font-size: 120px;
    letter-spacing: -6px;
  }
  .feature__heading {
    font-size: 40px;
  }
  .feature__stats {
    margin-top: 48px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .feature {
    padding: 48px 0;
  }
  .feature__container {
    max-width: 960px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 24px;
  }
  .feature__text {
    bottom: 165px;
  }
  .feature__left {
    max-height: 625px;
    border-radius: 32px;
  }
  .feature__right {
    max-height: 625px;
    border-radius: 32px;
  }
  .feature__bike img {
    max-width: 520px;
    margin-top: 100px;
  }
  .feature__title {
    font-size: 96px;
    letter-spacing: -4px;
  }
  .feature__subtitle {
    font-size: 24px;
  }
  .feature__info {
    padding: 32px;
    height: 396px;
    max-height: 500px;
  }
  .feature__heading {
    font-size: 32px;
    line-height: 1.25;
  }
  .feature__stats {
    margin-top: 36px;
  }
  .feature__stat_loudspeaker p, .feature__stat_bluetooth p, .feature__stat_volume p {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 767px) and (min-width: 376px) {
  .feature {
    padding: 32px 0;
  }
  .feature__container {
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 20px;
  }
  .feature__text {
    bottom: 110px;
  }
  .feature__left {
    max-height: 700px;
    height: 100%;
    border-radius: 24px;
  }
  .feature__label__text {
    top: 24px;
    left: 32px;
  }
  .feature__bike img {
    margin-top: 120px;
  }
  .feature__subtitle {
    font-size: 22px;
  }
  .feature__title {
    font-size: 90px;
    letter-spacing: -4px;
  }
  .feature__info {
    padding: 28px 20px;
  }
  .feature__heading {
    font-size: 26px;
    line-height: 1.25;
  }
  .feature__stats {
    margin-top: 32px;
  }
  .feature__banner {
    max-height: 500px;
    height: 100%;
  }
  .btn-primary {
    bottom: 35%;
  }
}/*# sourceMappingURL=TestFrontend.css.map */