$color-text: #402c22;
$color-border: #d9d5d3;
$font-serif: "Optima", serif;
$font-sans: "Inter", sans-serif;

.construction {
  padding: 100px 0;
  background: #fff;

  &__container {
    max-width: 1800px;
    margin: 0 auto;
    
    display: grid;
    grid-template-areas: 
      "info main side"
      "list main side"; 
    gap: 40px 20px; 
    align-items: start;
  }

  &__info-top { grid-area: info;margin-top: 50px; }
  &__accordion { grid-area: list; }
  &__img-main { grid-area: main; }
  &__img-side { grid-area: side; }

  &__label {
    font-family: $font-sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    opacity: 0.7;
    color: $color-text;
    display: block;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__title {
    font-family: $font-serif;
    font-size: 63px;
    font-weight: 400;
    line-height: 1.06;
    color: $color-text;
    margin: 0;
  }

  &__accordion {
    border-top: 1px solid $color-border;
  }

  &__item {
    border-bottom: 1px solid $color-border;
    padding: 24px 0;

    &.active .construction__desc {
      display: block;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Optima Nova LT Pro", $font-serif;
    font-size: 22px;
    color: $color-text;
    cursor: pointer;
  }

  &__desc {
    margin-top: 15px;
    font-family: $font-sans;
    font-size: 16px;
    line-height: 1.44;
    color: $color-text;
    opacity: 0.8;
    max-width: 403px;
    display: none; 
  }

  &__img-main img {
    display: block;
    max-width:712px;
    max-height:793px;
    margin-left:90px;
  }

  &__img-side img {
    display: block;
    max-width:516px;
    max-height:513px;
    margin-right:-90px;
    }

  .icon-plus, .icon-minus {
    width: 14px;
    height: 14px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1.2px;
      background: $color-text;
      transform: translateY(-50%);
    }
  }

  .icon-plus::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1.2px;
    height: 100%;
    background: $color-text;
    transform: translateX(-50%);
  }
}

@media (max-width: 375px) { 
  .construction {
    padding: 47px 0 60px;

    &__container {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "info"
        "main"
        "side"
        "list";
      gap: 0; 
      padding: 0 20px;
    }

    &__info-top {
      margin-top: 0;
      margin-bottom: 24px; 
      width:341px;
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &__title {
      font-family: "Optima nova LT Pro", $font-serif;
      font-size: 33px;
      line-height: 38px;
    }

    &__img-main {
      margin-bottom: 24px; 
      img {
        width: 337px;
        height: 375px;
        margin-left: 0;
        object-fit: cover;
      }
    }

    &__img-side {
      margin-bottom: 28px; 
      img {
        width: 249px;
        height: 248px;
        margin-right: 0;
        object-fit: cover;
      }
    }

    &__accordion {
      border-top: 1px solid $color-border;
    }

    &__item {
      padding: 16px 5px; 
    }

    &__header {
      font-size: 19px;
      line-height: 24px;
      
      span:first-child {
        font-family: "Optima nova LT Pro", $font-serif;
      }
    }

    &__desc {
      margin-top: 12px;
      font-size: 15px;
      line-height: 22px;
      max-width: 336px;
      opacity: 0.75;
    }

    .icon-plus, .icon-minus {
      width: 12.27px;
      height: 12.27px;
      &::before { height: 1.02px; }
    }
    .icon-plus::after { width: 1.02px; }
  }
}

@media (max-width: 1799px) and (min-width: 1651px) {
  .construction {
    padding: 90px 0;

    &__info-top{
      margin-left:-100px;
    }

    &__accordion{
      margin-left: -100px;
    }

    &__container {
      max-width: 1400px;
      gap: 36px 20px;
    }

    &__title {
      font-size: 56px;
    }

    &__img-main img {
      max-width: 640px;
      margin-left: 60px;
    }

    &__img-side img {
      max-width: 460px;
      margin-right: -60px;
    }
  }
}

@media (max-width: 1650px) and (min-width: 1570px) {
  .construction {
    padding: 90px 0;

    &__info-top{
      margin-left:-65px;
    }

    &__accordion{
      margin-left: -65px;
    }

    &__container {
      max-width: 1400px;
      gap: 36px 20px;
    }

    &__title {
      font-size: 56px;
    }

    &__img-main img {
      max-width: 640px;
      margin-left: 60px;
    }

    &__img-side img {
      max-width: 460px;
      margin-right: -60px;
    }
  }
}

@media (max-width: 1569px) and (min-width: 1440px) {
  .construction {
    padding: 90px 0;

    &__container {
      max-width: 1400px;
      gap: 36px 20px;
    }

    &__title {
      font-size: 56px;
    }

    &__img-main img {
      max-width: 640px;
      margin-left: 60px;
    }

    &__img-side img {
      max-width: 460px;
      margin-right: -60px;
    }
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .construction {
    padding: 80px 0;

    &__container {
      max-width: 1100px;
      grid-template-columns: 1fr 1.4fr 1fr;
      gap: 32px 16px;
    }

    &__info-top {
      margin-top: 20px;
      margin-left: 30px;
    }

    &__accordion {
      margin-left: 30px;
    }

    &__title {
      font-size: 46px;
      line-height: 1.1;
    }

    &__img-main img {
      max-width: 390px;
    }

    &__img-side img {
      max-width: 299px;
      margin-right: -20px;
    }

    &__desc {
      max-width: 360px;
    }
  }
}
@media (max-width: 1023px) and (min-width: 767px) {
  .construction {
    padding: 64px 0;

    &__container {
      max-width: 720px;
      padding: 0 24px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "info info"
        "main side"
        "list list";
      gap: 32px 24px;
    }

    &__info-top {
      margin-top: 0;
    }

    &__title {
      font-size: 40px;
      line-height: 1.1;
    }

    &__img-main {
      img {
        max-width: 100%;
        max-height:360px;
        margin-left: 0;
      }
    }

    &__img-side {
      img {
        max-width: 100%;
        max-height:360px;
        margin-right: 0;
      }
    }

    &__desc {
      max-width: 100%;
    }
  }
}


@media (max-width: 766px) and (min-width: 376px) {
  .construction {
    padding: 47px 0 60px;

    &__container {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "info"
        "main"
        "side"
        "list";
      gap: 0; 
      padding: 0 20px;
    }

    &__info-top {
      margin-top: 0;
      margin-bottom: 24px; 
      max-width: 760px;
      width:100%;
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &__title {
      font-family: "Optima nova LT Pro", $font-serif;
      font-size: 33px;
      line-height: 38px;
    }

    &__img-main {
      margin-bottom: 24px; 
      img {
        width: 80%;
        margin-left: 0;
        object-fit: cover;
      }
    }

    &__img-side {
      margin-bottom: 28px; 
      img {
        width: 50%;
        margin-right: 0;
        object-fit: cover;
      }
    }

    &__accordion {
      border-top: 1px solid $color-border;
    }

    &__item {
      padding: 16px 5px; 
    }

    &__header {
      font-size: 19px;
      line-height: 24px;
      
      span:first-child {
        font-family: "Optima nova LT Pro", $font-serif;
      }
    }

    &__desc {
      margin-top: 12px;
      font-size: 15px;
      line-height: 22px;
      max-width: 760px;
      opacity: 0.75;
    }

    .icon-plus, .icon-minus {
      width: 12.27px;
      height: 12.27px;
      &::before { height: 1.02px; }
    }
    .icon-plus::after { width: 1.02px; }
  }
}